*
!rapidxml/
!rapidxml/*.hpp
!shijima/
!shijima/*.cc
!shijima/*.hpp
!shijima/action/
!shijima/action/*.cc
!shijima/action/*.hpp
!shijima/mascot/
!shijima/mascot/*.cc
!shijima/mascot/*.hpp
!shijima/broadcast/
!shijima/broadcast/*.hpp
!shijima/broadcast/*.cc
!shijima/scripting/
!shijima/scripting/*.cc
!shijima/scripting/*.hpp
!shijima/scripting/duktape/
!shijima/scripting/duktape/*.h
!shijima/scripting/duktape/*.cc
!shijima/behavior/
!shijima/behavior/*.hpp
!shijima/behavior/*.cc
!.gitignore
!CMakeLists.txt
!main.cc
!README.md
!.gitattributes
!LICENSE
