*
!.gitignore
!.gitmodules
!bin2cpp.sh
!default_actions.xml
!default_behaviors.xml
!CMakeLists.txt
!README.md
!LICENSE

!libarchive/
!libarchive/.gitignore
!libarchive/CMakeLists.txt
!libarchive/README.md
!libarchive/libarchive/
!libarchive/libarchive/CMakeLists.txt

!unarr/
!unarr/**

!pugixml/
!pugixml/**

!shimejifinder/
!shimejifinder/**
shimejifinder/default_actions.cc
shimejifinder/default_behaviors.cc
