*
!libarchive
!unarr
!pugixml
!shimejifinder/
!shimejifinder/libarchive/
!shimejifinder/libarchive/*.cc
!shimejifinder/libarchive/*.hpp
!shimejifinder/libunarr/
!shimejifinder/libunarr/*.cc
!shimejifinder/libunarr/*.hpp
!shimejifinder/libunarr/*.c
!shimejifinder/libunarr/*.h
!shimejifinder/utf8_convert/
!shimejifinder/utf8_convert/*.cc
!shimejifinder/*.cc
!shimejifinder/*.hpp
!tests/
!tests/**/
!tests/**/CMakeLists.txt
!tests/**/*.cc
!test_utf8_convert.sh
tests/**/build/
shimejifinder/default_actions.cc
shimejifinder/default_behaviors.cc
!.gitignore
!.gitmodules
!bin2cpp.sh
!default_actions.xml
!default_behaviors.xml
!CMakeLists.txt
!main.cc
!README.md
!LICENSE
